* {
    margin: 0;
    padding: 0;
    animation: fade-in 0.2s ease-in-out;
}

body {
    display: flex;
    background-color: #EEEDF0;
}

a {
    color: inherit;
    text-decoration: none;
}

.app {
    margin: 46px 130px 0 130px;
}