.form {
    width: 50vw;
    max-width: 50vw;
    display: grid;
    gap: 20px;
}

.codesection {
    color: #000;
    font-weight: 600;
    font-size: 20px
}

.codesection h3 {
    color: #2B2B2B;
    font-weight: 500;
    font-size: 18px;
}

.codesection .code {
    box-sizing: border-box;
    margin-top: 10px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    border-radius: 6px;
    background: #0E1522;
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);

    color: white;
    padding: 15px 15px;
}

.inputs {
    display: flex;
    justify-content: space-between;
}

.inputs .codeoutput {
    box-sizing: border-box;
    width: 58%;
    height: 45px;
    max-width: 10vw;
    min-width: 58%;
    min-height: 45px;
    background: #FFF;
    border: 2px solid #0E1522;
    border-radius: 6px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 6px 15px 6px 15px;

    color: #000;
    font-weight: 600;
    font-size: 18px;
}

.inputs .level {
    width: 38%;
    height: 45px;
    background: #FFF;
    border: 2px solid #0E1522;
    border-radius: 6px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    padding: 0 15px;
    color: #000;
    font-weight: 600;
    font-size: 18px;
}

.button {
    width: 30%;
    background: #0E1522;
    border: none;
    border-radius: 6px;
    text-align: center;
    padding: 6px 15px;

    color: white;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: all 150ms ease-in-out;
}

.button:hover {
    cursor: pointer;
    color: #FFE500;
    background-color: #131c2e;
    box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.35);
}
